* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: calc(100% - 40px);
    height: 400px;
    display: flex;
    padding: 10px 20px;
    /* justify-content: center; */
    align-items: center;
    /* background: gray; */
}

section {
    width: 100%;
    height: calc(90% - 10px);
    border: 3px solid rgba(45, 111, 217, 0.242);
    border-radius: 15px;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: flex-end;
    background: rgb(29, 29, 29);
}

figure {
    width: 100%;
    min-width: 800px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: red; */
}

.ship {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 00px;
    width: 100%;
}

.ship .prow {
    width: 109px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red;   */
}

.ship .stern {
    width: 100px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

/* ============================================== */


.ship .containers {
    width: 70%;
    height: 13.4em;
    background: linear-gradient(to bottom, #f3f3f3 50%, #31b30a 0);
    column-gap: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container {
    width: 100%;
    /* min-width: 100px; */
    height: 90%;
    /* border: 3px solid transparent; */
    box-shadow: inset 0px 0px 4px 2px #11111187,
                0 0 2px 2px #1111113a;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 4px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* overflow: hidden; */
}

.grua {
    content: '';
    width: 50px;
    height: 60px;
    clip-path: polygon(0% 0%, 20% 0%, 20% 20%, 40% 20%, 40% 30%, 100% 0%, 100% 1%, 40% 31%, 40% 45%, 100% 2%, 100% 3%, 40% 46%, 40% 100%, 0% 100%);
    /* clip-path: polygon(0% 0%, 20% 0%, 20% 20%, 40% 20%, 40% 30%, 100% 66%, 100% 67%, 40% 31%, 40% 45%, 100% 68%, 100% 69%, 40% 46%, 40% 100%, 0% 100%); */
    background: #f3f3f3;
    position: absolute;
    top: -67px;
    left: 10%;
}

@keyframes moverGrua {
    0% {
        clip-path: polygon(0% 0%, 20% 0%, 20% 20%, 40% 20%, 40% 30%, 100% 0%, 100% 1%, 40% 31%, 40% 45%, 100% 2%, 100% 3%, 40% 46%, 40% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 0%, 20% 0%, 20% 20%, 40% 20%, 40% 30%, 100% 66%, 100% 67%, 40% 31%, 40% 45%, 100% 68%, 100% 69%, 40% 46%, 40% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0% 0%, 20% 0%, 20% 20%, 40% 20%, 40% 30%, 100% 0%, 100% 1%, 40% 31%, 40% 45%, 100% 2%, 100% 3%, 40% 46%, 40% 100%, 0% 100%);
    }
}

.containerInfo {
    width: 150px;
    height: auto;
    background: transparent;
    color: #ffffff;
    position: absolute;
    padding: 10px 0;
    border-radius: 5px;
    line-height: 1.5;
    opacity: 0;
    transform: translateY(130%);
    font-weight: 400;
    background: #31b30ad6;
    z-index: 1;
    transition: .4s all ease;
}
.containerInfo::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 10px solid #31b30ab6;
    border-right: 10px solid #31b30ab6;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -9px;
    transform: rotate(45deg);
}

.container:hover .containerInfo {
    transform: translateY(100%);
    background: #31b30ad6;
    box-shadow: 0 1px 4px 1px #2f2f2fa1;
                /* inset 0px 1px 3px #ffffff65; */
    opacity: 1;
    cursor: pointer;
    transition: .25s all ease;
}